.legend {
    background-color: rgba(162, 180, 196, 0.445);
    border-radius: 10px;
    z-index: 1000;
    display: none;
    /* padding: 100px;  */
    transition: opacity 1s;
    /* padding: 10px; */
    max-height: 150px; /* Set maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
    bottom: 30px;
  }

  .toggle-button {
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 1001; /* Ensure button appears above legend */
    padding: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: none;
  }

  